/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container
{
    height:100%;
    width:500px;
    margin: auto;
    border:2px solid #808080;
    border-radius: 25px;
}

.container h1 
{    
    margin-top:40px;
    text-align: center;
    color: #000;
}

.container h2
{
    margin-top:40px;
    text-align: left;
    margin-left:25px;
    color: #000;
}

.container .todolist
{
  margin-left:30px;
  height:150px; 
  width:100%;
  margin: auto;
}

.container .todolist input{
    margin-left:40px; 
    padding: 15px 15px 15px 20px;
    width: 330px;
    color: gray;
}
.container .todolist1{
    padding: 15px 0 15px 20px;
    width: 330px;
   
}

.h_separator {
    display: block;
    width: 150px;
    height: 1px;
    margin: 15px auto;
    border-top: 1px solid #808080;
}

.list
{
    padding-left: 0px;
    width: 400px;
    color: black;
    list-style: none;
   
    
}

.remove
{
    background: transparent url('../img/x.png') no-repeat;
    background-color: #EEEEEE;
    margin-top: 30px;
    padding: 10px 15px;
    font-size: 12px;
    position: absolute;
    margin-right: 0px;
    right: 0;
    top: 0;
    border-left:90px;

   
}
.remove:hover
{
    cursor: pointer;
    opacity: 1;
    background-color: grey;
}

.element
{
    position: relative;
    margin: auto;
    font-size: 22px;
    /*word-wrap: break-word;*/
    padding-bottom: 10px;
    border: 1px solid grey;

 
}

.inputBtn
{
    background-color: grey;
    align-self:right;
    text-decoration: none;
    font-size: 15px;
    margin-left: 40px;
}

.inputBtn:hover
{
    cursor:pointer;
    background-color: #6b6b99;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
