.container 
{
    width: 100%;
    height: 100%;
}

.container__intro
{
	width: 100%;
	height: 690px;
	/*background: transparent url('../img/intro_backg1600x670_overlay.jpg') no-repeat;
	background-size: cover;*/
	border: 0.1px solid transparent;
}

.container__aboutus
{
	width: 100%;
	height: 350px;
	background: transparent url('../img/black.jpg') no-repeat;
	background-size: cover;
    padding: 0px 0px 0px 0px;
}
.container__aboutus__main
{
	width: 100%;
	height: 450px;
    color: black;
    padding-top: 100px
}

.img_responsive
{
	width: 300px;
	height: 300px;
	padding-left: 100px;

    color: black;
}
.grid960
{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.container__about
{
	width: 100%;
    height: 490px;
    margin: auto;
}

a:hover, a:focus {
  	color: blue;
  	text-decoration: none;
}
.post
{
	height: 400px;
	width: 300px;
	border:3px solid transparent;
}
.h-seperator
{
	height: 30px;
	width: 300px;
	border-bottom:1px solid #000000;
}
.post__name
{ 
	text-align: left;
	font-size: 15pt;
	font-weight: bold;
}

.post__description
{
	text-align: left;
	font-size: 13pt;
		
}
.container__causes
{
	width: 100%;
	height: 690px;
	margin: auto;


}

.carousel-img {
  width: 100%;
  height: 400px;
  background-size: cover;
}
 .item,
 .active {
    height: 100%;
}

  .carousel-inner {
    height: 100%;
} 
.main-text
{
    position: absolute;
    top: 80px;
    width: 96.66666666666666%;
    color: #000;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #000;
    background-color: transparent;
    border-color: #000;
    margin-right: 15px;
}
.carousel-caption
{
	color: #000;
    
}
.btn-clear:hover
{
    color: #000;
    background-color: #000;
}
#carousel-example-generic
{
    margin-top: 80px;
    min-height: 100px;
    min-width: 80%;
 }


.square-service-block{
	position:relative;
	overflow:hidden;
	margin:15px auto;
	border-radius: 13%;
	}

.square-service-block a {
	background-color:#d4e6f1;
;
	border-radius: 5px;
	display: block;
	padding: 90px 20px;
	text-align: center;
	width: 100%;
}

.square-service-block a:hover{
  	background-color: #18d26e;
  	border-radius: 5px;
}

.ssb-icon {
	color: #000;
	display: inline-block;
	font-size: 28px;
	margin: 10 0 20px;
}

h2.ssb-title {
	color: black;
	font-size: 20px;
	font-weight: 200;
	margin:0;
	padding:0;
	text-transform: uppercase;
}
