/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*.container {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
}*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.2s;
  z-index: 997;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.2s;
}

#header #logo {
  float: left;
}

@media (min-width: 1024px) {
  #header #logo {
    padding-left: 60px;
  }
}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: blue;
  padding-left: 10px;
  border-left: 4px solid #18d26e;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (min-width: 1024px) {
  #nav-menu-container {
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: blue;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #18d26e;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: blue;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #18d26e;
}

.nav-menu ul ul {
  margin: 0;
}



/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #f7f7f7;
}

/* intro
--------------------------------*/

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background: #000;
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-content {
  text-align: center;
}

#intro h4 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 30px;
  font-style:italic;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
  }
}

#intro p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

@media (min-width: 1024px) {
  #intro p {
    width: 60%;
  }
}

#intro .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.3s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  #intro .carousel-control-prev, #intro .carousel-control-next {
    width: 5%;
  }
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}



.grid960
{  
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.grid960a
{  
    padding-top:130px;
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
#aboutus {
   width: 100%;
   height: 300px;
   color: #FFF;
   background-color: #fff;
   margin: 0 0;
}

#aboutus .logo {
    float: left;
    display: block;
    margin: 0px 80px;
    width:240px;
    height: 200px;
}

#aboutus .artical{
    text-align: left;
    margin: 70px 10px auto 410px;
    color:#000;
    height: 100%;
}

#aboutus .downrow{
 height:390px;
 width: 100%
}
#aboutus .container__about__main{
 height:370px;
 width: 100%; 
 background: transparent url('../img/black.jpg') no-repeat;
 background-size: cover;
 border:10px solid #000;
 padding-top: 0px;
}
#aboutus .square-service-block{
  position:relative;
  overflow:hidden; 
  margin:15px auto;
  border-radius: 13%;
  }

#aboutus .square-service-block a {
  background-color:#d4e6f1;
  border-radius: 5px;
  display: block;
  margin:auto;
  padding: 90px 20px;
  text-align: center;
  width: 100%;
}

#aboutus .square-service-block a:hover{
    background-color: #808080;
    border-radius: 5px;
}

#aboutus .ssb-icon {
  color: #000;
  display: inline-block;
  font-size: 28px;
  margin: 10 0 20px;
}

#aboutus h2.ssb-title {
  color: black;
  font-size: 20px;
  font-weight: 200;
  margin:0;
  padding:0;
  text-transform: uppercase;
}


#cause {
  height: 500px;
  width :100%;
  background-color: #fff;
}

#cause .title{
text-align: center;
color: #000;
padding-top: 30px;
font-weight: bold;

}

#cause .box{
  border: 0.5px solid blue;
  width:220px;
  height:270px;
  display: block;
  float:left;
  margin-left: 120px;
  margin-top: 100px;
}

#cause .box img{
width:216px;
height: 135px;
float:top;


}
#cause .box p{
float:bottom;
color: #000;
 word-wrap: break-word; 
}

#cause .box h4{
text-align: center;
font-weight: bold;
float:bottom;
color: #000;
}

#cause .h_seperator{
    display: block;
    width: 50px;
    height: 1px;
    margin: 15px auto;
    border-top: 1px solid #18d26e;
}


.container__footer__column-left {
    float: left;
    width: 310px;
    height: 100%;
    margin: 40px 20px 0 10px;
 
}

.container__footer__column-middle {
    float: left;
    width: 300px;
    height: 100%;
    margin: 40px 0 0 0;

}

.container__footer__column-right { 
    float: left;
    width: 300px;
    height: 100%;
    margin: 40px 0 0 0;
  
}
.container__footer p,.container__footer h3 {
color: #fff;
}
.container__footer__column-left__menu {
    float: left;
    width: 100%;
    height: 100%;
}

.container__footer__column-left__menu > ul {
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: left;
    padding: 30px 0 0 0;
}

.container__footer__column-left__menu > ul > li {
    display: inline;
    margin: 0 20px 0 0;
    color: #FFF;
     text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

#footer{
  width: 100%;
  background:  url('../img/footer.jpg');
  background-size: cover;
  background-size: 100% 350px;
  height: 350px;
}
#footer.container__footer__column-middle__location {
    margin: 0;
    padding: 0;
}

#footer.container__footer__column-middle__location td {
    padding: 0 10px 0 0;
}

#footer.container__footer__column-right input {
    background-color: transparent;
    color: gray;
    height: 40px;
    width: 210px;
    font-size: 14px;
    margin:20px 0 0 0;
    text-align: center;
    border-width: 0.5px;
}

#footer.container__footer__column-right__arrow {
    height: 40px;
    width: 70px;
    margin: 0 0 0 0px;
}


#footer.container__footer__column-right img {
    margin: 20px 0 0 0;
}

#footer.container__footer__column-right p {
    margin: 50px 0 0 0;
    font-size: 14px;
    text-align: right;
}
#footer.container__footer__column-right__media img {
    width: 25px;
    height: 25px;
    margin: 5px 0 0 0;
}

#form{
width: 100%;
height: 100%;
background-color: #fff;
}

#form .content{
width: 100%;
height: 700px;
}
#form img{
  height:600px ; 
  width:400px;
  padding-left: 30px;
  padding-top: 100px;
}
#form .fill{
    width: 700px;
    height: 500px;
    background-color: white;
    padding-top: 100px;
    padding-left: 200px;
}

#form input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

 #form input[type=submit]:hover {
    background-color: #45a049;
}

#post{
  height: 100%;
  width :100%
  padding-top: 100px;
}
 #post .intro{
  height: 300px;
  background:  url('../img/footer.png');
  width: 100%;
 }
#post .leftrow {
  height:100%;
  width: 750px;
  padding-left: 70px;
  padding-top: 100px;
  float: left;

}
#post a{

  font-size: 10pt;
  float:left;
  font-weight: bold;
  font-style: italic;
 
  color: red;
}
#post .blog{
  height:260px;
  width: 650px;
  padding-top: 10px;

}

#post .blog img {
  height:200px; 
  width: 200px;
  float:left;
  padding-top: 30px;

}

#post .blog h1 {
  color: #000;
  font-weight: bold;
  padding-top: 10px;
  padding-left:10px; 
}

#post .blog p {
  color: #000;
  word-wrap: break-word;
  font-size: 15px;
  padding-left:10px; 

}
#post .rightrow {
  height:100%;
  width: 350px;
  padding-right: 100px;
  padding-top: 100px;
  float: right;

}


#post .v-separator {
   
    width: 30px;
    height: 230px;
    padding-top:10px; 
    float: left;
    border-right: 1px solid #00e0d0;
}



#post .btn-search {
    background: #424242;
    border-radius: 0;
    color: #fff;
    width: 80px;
    height: 34px;
    border-style: solid;
    float: left;
    border-color: #1c1c1c;
  }
  #post .btn-search:link, .btn-search:visited {
    color: #fff;
  }
  #post .btn-search:active, .btn-search:hover {
    background: #1c1c1c;
    color: #fff;
  }

  .home {
    width: 100%;
    height: 100%;
  }
/* -- Circular Work -- */
.gridcontainer {
  width: 720px;
  margin: 30px auto;
}

.grid_3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

.grid_9 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
}

.fmcircle_out {
  width: 200px;
  height: 200px;
  background: rgba(221,221,221,0.3) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAO0lEQVQYV2NkIAIwElKze/fu/3gVgRS4uroyEjQJZBNWRTATYE7BUISuAKdJ6J6Bm4TNBBTr8CkAKQQA02QXOj4w/E8AAAAASUVORK5CYII=);
  text-align: center;
  display: block;
  margin-left: 10px;
 
  
  border-radius: 100px;

}


  .fmcircle_out:hover {
    opacity: 1; 
    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .fmcircle_out:hover .fmcircle_in img {
    margin: 30px 25px 25px 25px;
    width: 120px;
    color: #000;
    height: 120px;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    

  }
  
.fmcircle_in {
  width: 170px;
  height: 170px;
  margin: 15px;
  display: inline-block;  
  border-radius: 85px;

}



/*** Base64 Patterns ***/

.fmcircle_blue {
  background-color: blue;
   padding-top: 40px; 
}

.fmcircle_red {
    background-color: red; 
      padding-top: 40px; 
}
.fmcircle_green {
    background-color: green; 
    padding-top: 40px;
  }

 .home-button {

    font-family: Sans-serif;
    font-size: 20px;
    margin: 25px 25px;
    background-color: all 0.3s ease 0s;
    border-radius: 150px;
    text-align: center;
    border: 0;
    color: black;
    font-size: 20px;
    font-style: italic;
    transition: all 0.3s ease 0s;
}


#admin{
  height: 100%;
  width: 100%;
}
#admin .form{
  padding-top:80px;

}

.titleh{
text-align: center;
color: #000;
padding-top: 30px;
font-weight: bold;
}
.h_seperatorh{
    display: block;
    width: 100px;
    height: 1px;
    margin: 15px auto;
    border-top: 1px solid #18d26e;
}
#home {
  height: 100%;
  width: 100%;
}
#home .intro{
  height: 500px;
  width: 100%;
 
}
#home .intro img{
  height: 500px;
  width: 100%;

}
#trade {
  height: 100%;
  width: 100%;
}
#trade .intro{
  height: 400px;
  width: 100%;
 
}
#trade .intro img{
  height: 400px;
  width: 100%;

}

#account {
  height: 100%;
  width: 100%;
}
#account .form{
  padding-top: 100px;
  height: 500px;
  width: 100%;
}
#account .header {

 color: #36A0FF;

 font-size: 27px;

 padding: 10px;

}

#account .bigicon {

 font-size: 35px;

 color: #36A0FF;

}

#profile{
  height: 100%;
  width: 100%;
  background-color: #000;
  padding-top: 200px;
}
#profile .card {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:300px;
    min-height:400px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
}
#profile .card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
#profile .card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
#profile .card .box1 {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:left;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}

#profile .icon{
  padding-bottom: 76px;
  padding-top: 5px;
}


#profile .card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
#profile.card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
#profile.card .box p {
    color:#262626;
}
#profile.card .box span {
    display:inline-flex;
}
#profile.card .box ul {
    margin:0;
    padding:0;
}
#profile.card .box ul li {
    list-style:none;
    float:left;
}
#profile.card .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
#profile.card .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}

