.post
{
	height: 400px;
	width: 300px;
	border:3px solid transparent;
}
.h-seperator
{
	height: 30px;
	width: 300px;
	border-bottom:1px solid #000000;
}
.post__name
{ 
	text-align: left;
	font-size: 15pt;
	font-weight: bold;
}

.post__description
{
	text-align: left;
	font-size: 13pt;
		
}