.container
{
	height:100%;
	width:960px;
	
	
}
.container__header
{
	height:60px;
	width:960px;
}
.v-seperator
{
	height: 20px;
	width: 200px;
	border-right: 1px solid grey;
}
.h-seperator
{
	height: 10px;
	width: 2px;
	
}

.container__left-column__row-up
{
	height: 90px;
	width: 150px;
	color:white;
	border-bottom: 1px solid #EEE;

}

.container__left-column
{
	height:700px;
	width:200px;
	float: left;
	background-color: grey;
	padding-left: 10px;
}

.container__right-column
{
	height:700px;
	width:720px;
	float:right;
	background-color: white;
}

.container__right-column__row-up
{
	height:100px;
	width:670px;
	float:top;
    border-radius: 5px;
	border: 1px solid grey;
	
	
}

.container__right-column__row-down
{
	height:40px;
	width:670px;
	float:bottom;
	border-radius: 5px;
	border: 1px solid grey;	
}
